[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
alembic = "==1.12.0"
black = "==24.3.0"
coverage = "==7.3.1"
flake8 = "==6.1.0"
isort = "==5.12.0"
mypy = "==1.5.1"
pre-commit = "==3.4.0"
pylint = "==3.0.0a5"
pytest = "==7.4.2"

[packages]
click = "==8.1.7"
prettytable = "==3.9.0"
terminalplot = "==0.3.0"
SQLAlchemy = "==1.4.49"
importlib-metadata = "*"
typing-extensions = "*"

[requires]
python_version = "3.11"

[scripts]
unit = "coverage run -m pytest -vv -c ./setup.cfg --junitxml=./.pytest_cache/pytest_unit.xml"
coverage = "coverage report -m --skip-covered"
lint = "pre-commit run --all-files"
